<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team33">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team33">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Team33.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".LivePolicy10"></activity>
        <activity android:name=".LivePolicy9" />
        <activity android:name=".LivePolicy8" />
        <activity android:name=".LivePolicy7" />
        <activity android:name=".LivePolicy6" />
        <activity android:name=".LivePolicy5" />
        <activity android:name=".LivePolicy4" />
        <activity android:name=".LivePolicy3" />
        <activity android:name=".LivePolicy2" />
        <activity android:name=".LivePolicy1" />
        <activity android:name=".MoneyPolicyRed2" />
        <activity android:name=".MoneyPolicy5" />
        <activity android:name=".MoneyPolicy4" />
        <activity android:name=".MoneyPolicyRed1" />
        <activity android:name=".MoneyPolicy3" />
        <activity android:name=".MoneyPolicy2" />
        <activity android:name=".MoneyPolicy1" />
        <activity android:name=".JobPolicyRed2" />
        <activity android:name=".JobPolicyRed1" />
        <activity android:name=".JobPolicy10" />
        <activity android:name=".JobPolicy9" />
        <activity android:name=".JobPolicy8" />
        <activity android:name=".JobPolicy7" />
        <activity android:name=".JobPolicy6" />
        <activity android:name=".JobPolicy5" />
        <activity android:name=".JobPolicy4" />
        <activity android:name=".JobPolicy3" />
        <activity android:name=".JobPolicy2" />
        <activity android:name=".JobPolicy1"/>
    </application>

</manifest>